body {
	background-color: black;
	color: #149414;
	font-family: Arial, Helvetica, sans-serif;

	max-width: 700px;
	margin: 40px auto;
	padding: 0 16px;

	font-size: 18px;
	line-height: 1.55;
}

a {
	color: #149414;
	text-decoration: underline;
}

a:visited {
	color: #149414;
}

p {
	margin: 0 0 1em 0;
}

p {
	margin: 0 0 1em 0;
}


i {
	font-style: italic;
	opacity: 0.95;
}

h1 {
	font-size: 32px;
	font-weight: 700;
	margin: 0 0 1.25em 0;
}

h3 {
	font-size: 20px;
	font-weight: 700;
	margin: 2em 0 1em 0;
}

a:hover,
a:focus-visible {
	background-color: rgba(20, 148, 20, 0.15);
}

a {
	padding: 2px 0;
}
